@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Atividade 20/03/2023 DWEI5</title>
</head>
<body>

    <div class="containercapa">
        <h1>Curso: ADS Tecnologia em Análise e Desenvolvimento de Sistemas</h1>
        <h2>Disciplina: Desenvolvimento WEB</h2>
        <h4>Prof.:Everson Nunes de Almeida </h4>
        <h4>Caroline Smarzaro BP3016382</h4>
        <h4>Felipe Tadeu Malengo de Souza BP3019047</h4>
    </div>


</body>
</html> 